@import 'src/styles/vars';

.main-title {
    color: $primary-color;
    font-family: $title-font;
    font-weight: $title-font-weight;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
}

.container-post {
    display: flex;
    margin: $gutter auto;
    max-width: 800px;
    flex-wrap: wrap;
}

.post {
    width: 45%;
    padding: $gutter;
    margin: .5rem;
    border-radius: 10px 10px 10px 50px;
    -moz-border-radius: 10px 10px 10px 50px;
    -webkit-border-radius: 10px 10px 10px 50px;
    border: 1px solid $alt-color;
    transition: all .2s ease-in-out;

    &:hover {
        border: 1px solid $post-text-color;
        transform: scale(.95);
        box-shadow:
            0 0 10px 2px  $alt-color,
            0 0 20px 4px $light-color,
            0 0 30px 6px #0ff;
    }


    &__title {
        font-family: $title-font;
        font-weight: $title-font-weight;
        color: $post-text-color;
        text-transform: uppercase;
        font-size: $gutter/1.5;
        margin-bottom: 1rem;
    }

    &__category {
        color: $blue2-color;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $grey-color;
        text-align: center;
        // background-color: $post-text-color;
        padding: .5em;
        margin-bottom: 1rem;
        font-size: .8em;
        text-transform: uppercase;
    }

    &__excerpt {
        color: $alt-color;
        
        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }
    }
}